$background: #141218;
$inputs-background: #49454F;
$background-hover: #322F35;
$background-light: #FEF7FF;
$background-light-hover: #F5EFF7;
$header-background: #36343B;
$header-background-light: #E6E0E9;
$header-box-shadow: rgba(88, 162, 73, 0.5);
$header-box-shadow-light: #322F35;
$color: #00A8C9;
$color-light: #202329;
