@use "../../styles/theme";

a {
  text-decoration: none;
}

.result-item {
  display: flex;
  gap: 10px;
  height: 100%;
  color: theme.$color;
  background-color: theme.$inputs-background;
  border: 2px solid #00a8c9;
  box-shadow: 0 0 4px 4px #58a249;
  border-radius: 5px;
  overflow: hidden;
  transition: box-shadow 0.4s;

  &_favourite {
    position: relative;
    margin-top: auto;
    margin-left: auto;
    width: 0;
    height: 0;
    appearance: none;

    &:before {
      position: absolute;
      top: -25px;
      right: 5px;
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      border: 2px solid theme.$color;
      z-index: 1;
    }
    &:checked:before {
      border-color: theme.$color-light;
    }
  }

  &:hover {
    box-shadow: 0 0 6px 6px #58a249;
  }

  &_info {
    &-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 5px;
      list-style: none;

      .info-title {
        font-size: 1.25rem;
        font-weight: 800;
      }
    }

    &-item {
      font-size: 1.25rem;
    }
  }
}

.light {
  .result-item {
    background-color: theme.$background-light;
    color: theme.$color-light
  }
}
