.detailed {
  position: relative;
  display: flex;
  max-width: 300px;
  width: 100%;
  height: 100%;
  padding: 10px;

  &-item {
    img {
      width: 100%;
    }
  }

  &-close {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}