#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1280px;
  width: 100%;
}

.app-header {
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.app-main {
  display: flex;
  justify-content: center;
}

.app-header .container {
  position: relative;
  flex-direction: row;
  align-items: center;
}

.error-button {
  position: absolute;
  right: 30px;
}
