#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1280px;
  width: 100%;
}

.app-header {
  display: flex;
  justify-content: center;
  background-color: #2B2930;
  box-shadow: 0 0 5px 1px rgba(202, 196, 208, 0.5);

  & .container {
    flex-direction: row;
    align-items: center;
  }
}

.app-main {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-top: 20px;

  & .container {
    position: relative;
  }
}

.error-button {
  margin-left: auto;
}

@media (max-width: 600px) {
  .app-header .container {
    .select,
    .error-button{
      margin-left: unset;
    }
    flex-direction: column;
    gap: 10px;
  }
}