.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1280px;
  width: 100%;
}

.app-header {
  display: flex;
  justify-content: center;
}

.app-main {
  display: flex;
  justify-content: center;
}

.app-header .container {
  flex-direction: row;
  align-items: center;
}
